.hero {
  background-image: url("../../../../public/images/kidsbg2.png");
  background-size:200% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 20%;
  padding-right: 50px;
  color: #ff8282;
  overflow: hidden;
  opacity: 1;
}

.hero #heading h3 {
  color: #5cace1;
}
.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}
.link-button-link{
  border-radius: 25px; /* Rounded corners for the button */
  font-size: 18px; /* Larger font size for better readability */
  padding: 10px 10px; /* Add padding to make the button larger */
  margin: 20px 0; /* Margin for spacing */
  border: none;
  background-color: #bbf588; /* Cheerful yellow color */
  color: #fe8564; /* White text color */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for a 3D effect */
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 20px !important;
  width: 65% !important;/* Smooth transitions */
  margin-left: 40px;
  font-weight: 500;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .margin {
    height: 0vh;
  }
  .hero {
    background-position: right;
    padding-top: 65%;
    height: 100vh;
  }
  .hero .row {
    width: 100%;
  }
 
}

