.aboutHome {
  height: auto;
  /* background-color: #F4DEB3;  */
  padding: 30px ;
  
}

.aboutHome .items {
  margin-top: 0px;
  
}

.aboutHome .item {
  background-color: #fac3ea;
  margin-top: 20px;
  padding: 20px;
  border-radius: 25px;
  transition: 0.3s;
}

.aboutHome .img img {
  width: 100px; /* Adjusted size */
  height: auto;
}

.aboutHome .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #f21414;
  text-shadow: none;
  display: flex;

}

.aboutHome .item:hover {
  background-color: #ff7f4d; /* Cheerful hover background */
  color: #fff;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.aboutHome .item:hover p {
  color: #fff;
}

.button-group {
  margin-top: 20px;
}

.button {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 25px; /* Rounded corners */
  font-size: 16px;
  font-weight: 500;
  text-decoration: none; /* Remove underline */
  color: #fff;
  background-color: #ff7648; /* Cheerful button color */
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #ff5722; /* Darker on hover */
  transform: scale(1.05);
}

.button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .aboutHome .container {
    flex-direction: column-reverse;
  }
  .aboutHome .row {
    width: 100%;
  }

}
